.mission-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  background-color: #f9f9f9;
}

.mission-main-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  letter-spacing: -1.4px;
  margin-bottom: 20px;
}

.mission-main-back-img img {
  position: absolute;
  left: 20px;
  width: 22.5px;
  height: 15px;
  z-index: 1000;
  cursor: pointer;
}

.add-community-img {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 22.5px;
  height: 15px;
  z-index: 1000;
  cursor: pointer;
}

.community-container {
  position: relative;
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  background: #2a04ff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: "Pretendard-Bold";
}

.on-the-record {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #5c564c;
}

.scrollable-cards-container {
  position: relative;
  flex: 1;
  margin-top: 20px;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 120px);
  padding: 10px 0;
  box-sizing: border-box;
}

.scrollable-cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card {
  width: 100%;
  max-width: 349px;
  background: rgb(155, 178, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: slideIn 0.5s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  flex-direction: column;
}

.card-date {
  font-size: 12px;
  color: #938a7e;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-title {
  font-size: 15px;
  font-weight: 600;
  color: #453f36;
}

.card-content-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.record-image-wrapper1 {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f8f8f8;
}

.record-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  transition: color 0.5s ease, transform 0.3s ease;
}

.heart-button:hover {
  transform: scale(1.1);
  color: red;
}

.card-content {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #5c564c;
  margin-top: 10px;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #f4f4f4;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.top-right-button:hover {
  background: #ddd;
  transform: scale(1.1);
  transition: background 0.2s ease, transform 0.2s ease;
}

.top-right-button svg {
  width: 15px;
  height: 15px;
  fill: #666;
}
